{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!--Features section-->
{% include 'home/includes/features_section.html' %}


    <!--Hero image and buttons-->
{% include 'home/includes/hero_img.html' %}

<footer class="footer_index">
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h4>STAY CONNECTED</h4>
         <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://twitter.com/?lang=en-gb" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://en-gb.facebook.com/" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
    </div>
    <div class="col-sm">
         <h4>HELP & CONTACT US</h4>
      <ul>
      <li><a href="#" target="_blank">About Us</a></li>
      <li><a href="#" target="_blank">Contact Us</a></li>
      <li><a href="#" target="_blank">Order Information</a></li>
      </ul>
    </div>
    <div class="col-sm">
        <h4>My GiftHer</h4>
      <ul>
      <li><a href="#" target="_blank">My Account</a></li>
      <li><a href="#" target="_blank">My Orders</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>

{% endblock %}