{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container" id="delivery-info">
<div class="row justify-content-center">
<div class="col-8" id="delivery-col">
<h4 class="text-center">DELIVERY OPTIONS</h4>
<p>Delivery charges are per order:
An order can be delivered to one address only. If you require to send orders to multiple addresses you will need to place 
a separate order for each address.<br>

UK delivery options (orders placed Monday to Friday excluding Bank Holidays)<br>

Option 1 - Free Standard Delivery with any purchase - Delivery for most standard orders within 2-5 working days. 
PLEASE NOTE - this excludes weekends and Bank Holidays.<br>

Option 2 – Named Day Delivery - £4.95 - Delivery on the day selected by the customer.<br>

Option 3 – Next Day Delivery - £6.50 - Delivery the following working day. Orders must be placed by 3pm.<br>

Option 4 – Saturday Delivery - £10.50 - Orders must be placed by 3pm on a normal working day.<br>

Option 5 - Click & Collect – Collect from a local shop in partnership with UPS FREE
How it works: Choose from over 2700 local shops nationwide and collect your order at your convenience. 
(Please check your local stores opening hours before placing your order) Participating shops are part of the UPS Access Points™ network.
You will receive an email to tell you when your order is ready to collect.</p>
</div>
</div>
</div>
{% endblock %}