html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Lato';
    overflow-x: hidden;
}

#top-img{
background: url('/media/newlandingimg.jpg') no-repeat center center fixed;
width:100vw;
background-size: cover;
height:100vh;
}

#about-img-gift{
    background: url('/media/perfect_gift.jpg') no-repeat center center fixed;
    width: 100vw;
    background-size: cover;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 220px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}


/* Landing page - features section*/
.span-features {
    letter-spacing: 0.3rem;
    background: white;
    font-family: 'Lato';
    border: 2px solid black;
    font-size: 1.6rem;
}

.span-features-container {
    margin-top: -1rem;
}

.features-section {
    overflow-x: hidden;
    overflow-y: hidden;   
}

.features-paragraph {
    font-size: 1.1rem;
}

.background-hero{
    background: url('/media/hero-img-fullstack.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 160px);
    color: #555;
    font-family: 'Lato';
}

#thankyou-container{
    padding-top:24%;
}

#features-section-background{
    background:white;
    background-size: cover;
    width:100%;
    height: calc(100vh - 360px);
    color: #555;
    font-family: 'Lato';
}

.footer_index{
    background:black;
    height:300px;
    width:100%;
    margin-bottom:0;
    margin-top:5%;
}

footer h5{
    color:white;
    text-decoration:none;
}

footer li a{
    list-style-type: none;
    color:white !important;
    text-decoration:none;
}

.list-inline-item{
    text-decoration:none;
    color:black;
}


i.fa-inverse{
    color:black;
}

#h1-hero-footer{
color:black;
}

#h5-hero-footer{
color:white;
}

#footer-links{
list-style-type: none;
}

#footer-links2{
list-style-type: none;
}

#footer-links-container{
    padding-top:20px;
}


#delivery-info{
    color:black;
    padding-top:10%;
}


#delivery-col{
background-color: white;
opacity: 0.8;
}

#contact-form{
    padding-top:15%;
}

#faq-accordion{
    padding-top:20%;
    width:700px !important;
}


@media (max-width: 420px) {
    #faq-accordion {
    padding-top:20%;
    width:300px !important;
    }
}

#faq-accordion strong{
    color:black !important;
    text-decoration: none;
}

#faq-heading{
    color:black;
}

#about-container{
    padding-top:20%;
    padding-bottom:20%;
    width: 100vw;
}

.about-background{
background-color: white;
opacity: 0.8;
color:black;
}

.contact-background{
background-color: #f7e7f5e5;
opacity: 0.8;
color:black;   
}

/*Error pages*/
.error-heading {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}

.error-sub-heading {
    font-size: 1.7rem;
}

.error-container {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: white;
    opacity: 0.8;
}

#footer-payment{
    padding-top:5%;
}


#cards-section{
    background: white;
    width:100%;
    padding-bottom:10%;
}

#grandma-img{
    height:14rem;
    width:20rem;
}


/*--------------------------------------------------------------------/*


/** Blog **/
/* Blog landing page */
#blog-detail{
    padding-top:15%;
    background: white;
}

#blog-detail-cat{
    padding-top:15%;
    background: white;
}

#blog-detail-cat a{
   color:black
}

#section-top1{
    padding-top:16%;
    background: white;
}

#section-top2{
    padding-top:16%;
    background: white;
}

#section-top1 a{
    color: black;
}

#section-top2 a{
    color: black;
}

.card-small-extenstion {
    height: 380px;
    border: 0 !important;
}

.card-hover:hover {
    background-color: rgb(41, 41, 41);
    z-index: 10;
}

.card-body-small-extenstion {
    height: 380px;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 0 !important;
}

@media (min-width: 992px) {
    .card-large-extenstion {
        height: 780px;
        border: 0 !important;
    }
    .card-body-large-extenstion {
        height: 780px;
        width: auto;
        position: relative;
        display: inline-block;
        overflow: hidden;
        border: 0 !important;
    }
}

@media (max-width: 992px) {
    .card-large-extenstion {
        height: 380px;
        border: 0 !important;
    }

    .card-body-large-extenstion {
        height: 380px;
        width: auto;
        position: relative;
        display: inline-block;
        overflow: hidden;
        border: 0 !important;
    }
}

.card-width-small {
    height: 100%;
}

.card-width-large {
    height: 100%;
}

.card-body-extenstion {
    padding: 0 !important;
}

.card-img-top-extenstion {
    object-fit: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.card-title-extenstion {
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0 !important;
}

.card-body-small-extenstion:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Blog Post Page */
.blog_post_img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.users-comment {
    padding: 15px 50px;
    background-color: #f7e7f5e5;
}

.comment-name {
    font-weight: 800;
}

.comment-date {
    color: #5e5e5e;
    font-size: 0.8rem;
}

.comment-line {
    background-color: #777777;
    padding: 2px;
}

.blog-comment-form {
    margin-top: 30px;
}

