{% extends "base.html" %}
{% load static %}
{% block head_title %}About{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>About us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-8 offset-md-2">
                <p>Finding the perfect gift can be tricky,</p> 
                <p>So we have put together some of the best gift options available.</p>
                <p>Treat your loved one to Luxury gifts for a great price.</p> 
                <p>All of our products are from Genuine Brand suppliers and we are constantly adding to our store.</p>
                <p>Plus 5% of our profits are donated to a different selected charity each month.</p>
                <p>What are you waiting for?</p>
                <p>....<strong>GIFT</strong>HER</p>
            </div>
        </div>
    </section>
{% endblock %}