{% extends "base.html" %}
{% load static %}
{% block head_title %}Contact Us{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h3>Need to Get in Touch?</h3>
                <h6 class="text-muted">Send us a message below and we will get back to you as soon as possible.</h6>
            </div> 
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" class="mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <button class="btn submit-button" type="submit"><span>Send</span><span><i class="fas fa-envelope-open-text ml-2"></i></span></button>
                    </div>
                </form>
            </div>            
        </div>
    </section>
{% endblock %}