{% extends "base.html" %}
{% load static %}
{% block head_title %}FAQs{% endblock %}

{% block content %}
<section class="container" id="faq-accordion">
    <div class="row text-center">
        <div class="col-10 col-md-6 offset-md-3">
            <h2 id="faq-heading">Frequently Asked Questions</h2>
        </div> 
    </div>
    <div class="row justify-content-center">
        <div id="accordion-faq">
            <div class="card">
                <div class="card-header" id="faqOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFaqOne" aria-expanded="true" aria-controls="collapseFaqOne">
                        <strong><i class="fas fa-plus mr-2"></i>How do I return an item?</strong>
                        </button>
                    </h5>
                </div>
                <div id="collapseFaqOne" class="collapse show" aria-labelledby="faqOne" data-parent="#accordion-faq">
                    <div class="card-body">
                        To be acceptable for return, items should be unused, unopened and have any original tags and seals intact.<br>
                        To initiate a refund, please return the items to the return address on your Dispatch Note.<br>
                        Please ensure you retain proof of postage for any items that you return.<br>
                        Refunds will be processed within 48 hours of receipt of the returns.<br><br>
                        <strong>Please note: Gift Her will only reimburse the cost of the products and not any postage or shipping fees.</strong>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faqTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFaqTwo" aria-expanded="false" aria-controls="collapseFaqTwo">
                        <strong><i class="fas fa-plus mr-2"></i>Where is my order?</strong>
                        </button>
                    </h5>
                </div>
                <div id="collapseFaqTwo" class="collapse" aria-labelledby="faqTwo" data-parent="#accordion-faq">
                    <div class="card-body">
                        <p>We are working hard to get all orders dispatched as quickly as possible.
                        We expect orders to be dispatched within 2 working days of your order.
                        The standard delivery time for our delivery partner is 3 working days, 
                        but please note that this may be longer during busy periods.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faqThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFaqThree" aria-expanded="false" aria-controls="collapseFaqThree">
                        <strong><i class="fas fa-plus mr-2"></i>Can I change my order?</strong>
                        </button>
                    </h5>
                </div>
                <div id="collapseFaqThree" class="collapse" aria-labelledby="faqThree" data-parent="#accordion-faq">
                    <div class="card-body">
                        <p>Our aim is to process your order as soon as possible, so there is limited time for us to be able to amend your order.
                        Please  <a href="{% url 'contact_us' %}">get in touch </a> to discuss your order with us.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faqFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFaqFour" aria-expanded="false" aria-controls="collapseFaqFour">
                        <strong><i class="fas fa-plus mr-2"></i>I have received the wrong/faulty product, what do I do?</strong>
                        </button>
                    </h5>
                </div>
                <div id="collapseFaqFour" class="collapse" aria-labelledby="faqFour" data-parent="#accordion-faq">
                    <div class="card-body">
                        <p>If there is an item missing from your order, or if we have delivered the wrong items,
                           please fill in a contact us form and <a href="{% url 'contact_us' %}">report this</a> to our customer services 
                           department.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}