{% extends "base.html" %}
{% load static %}
{% block head_title %}FAQs{% endblock %}

{% block content %}
<!--faq accordion-->
<section class="container" id="faq-accordion">
    <div class="row text-center">
        <div class="col-10 col-md-6 offset-md-3">
            <h2 id="faq-heading">Frequently Asked Questions</h2>
        </div> 
    </div>
    <div class="row justify-content-center">
        <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong><i class="fas fa-plus mr-2"></i>How do I return an item?</strong>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        To be acceptable for return, items should be unused, unopened and have any original tags and seals intact.<br>
                        To initiate a refund, please return the items to the return address on your Dispatch Note.<br>
                        Please ensure you retain proof of postage for any items that you return.<br>
                        Refunds will be processed within 48 hours of receipt of the returns.<br><br>
                        <strong>Please note: Gift Her will only reimburse the cost of the products and not any postage or shipping fees.</strong>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <strong><i class="fas fa-plus mr-2"></i>Where is my order?</strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>We are working hard to get all orders dispatched as quickly as possible.
                        We expect orders to be dispatched within 2 working days of your order.
                        The standard delivery time for our delivery partner is 3 working days, 
                        but please note that this may be longer during busy periods.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           <strong><i class="fas fa-plus mr-2"></i>Can I change my order?</strong>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>Our aim is to process your order as soon as possible, so there is limited time for us to be able to amend your order.
                        Please  <a href="{% url 'contact_us' %}">get in touch </a> to discuss your order with us.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong><i class="fas fa-plus mr-2"></i>I have received the wrong/faulty product, what do I do?</strong>
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p>If there is an item missing from your order, or if we have delivered the wrong items,
            please fill in a contact us form and <a href="{% url 'contact_us' %}">report this</a> to our customer services department.</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}