{% extends "base.html" %}

{% block content %}
    <!--submission message-->
<div class="container" id="thankyou-container">
	<div class="row justify-content-center">
		<div class="col-10 col-md-6 text-center">
			<div>
				<h3>Thank you for contacting us.</h3>
				<p class="mt-1">Your message has been sent.<br>We will get back to you as soon as possible.</p>
				<div class="mt-2">
					<a href="{% url 'home' %}">
						<span class="icon">
							<i class="fas fa-angle-left"></i>
						</span>
						<span>Back to Home</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}