{% extends "base.html" %}
{% load static %}

{% block content%}

<!-- 500 Error page-->
<div class="container-fluid  error-container">
    <div class="row ">
        <div class="col-12 text-center">
            <h1 class="uppercase font-weight-bold error-heading"> 
                <span class="text-black"> 500</span>&nbsp;error
            </h1>
            <h3 class="mt-5 error-sub-heading">
                Oops! Internal Server Error...
            </h3>
            <a href="{% url 'home' %}" class="btn-outline-dark btn-lg mt-5">
                <i class="fas fa-home mr-1"></i>&nbsp;Back&nbsp;Home
            </a>
        </div>
    </div>
</div>
{% endblock %}