<div class="container" id="cards-section">
    <div class="row" >
<div class="card-deck">
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}shop.jpg" class="card-img-top" alt="shop">
    <div class="card-body">
      <a class="shop-now-button btn btn rounded-0 py-3 mt-2 text-uppercase" href="{% url 'products' %}" target="_blank" rel="noopener noreferrer" role="button">Shop</a>
      <p class="card-text">Shop till you drop with 10% off orders over $70 and Free elivery when you spend $50</p>
      <p class="card-text"><small class="text-muted">Last Month</small></p>
    </div>
  </div>
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}blog_new.jpg" class="card-img-top" alt="blog">
    <div class="card-body">
      <a class="shop-now-button btn btn rounded-0 py-3 mt-2 text-uppercase" href="{% url 'blog' %}" target="_blank" rel="noopener noreferrer" role="button">Blog</a>
      <p class="card-text">Grab some ideas from our Blog to put together the perfect gifts</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}social_new.jpg" class="card-img-top" alt="social_media">
    <div class="card-body">
      <a class="shop-now-button btn btn rounded-0 py-3 mt-2 text-uppercase" href="https://en-gb.facebook.com/" target="_blank" rel="noopener noreferrer" role="button">Share</a>
      <p class="card-text">Share your thoughts and ideas with others, we welcome feedback</p>
      <p class="card-text"><small class="text-muted">This Month</small></p>
    </div>
  </div>
</div>

<div class="justify-content-center">
    <h3 class="text-center">All the gifts, All the time</h3><br>
    <p class="text-center">10% off when you spend $70, Free delivery over $50, and Our very own Blog to keep the git ideas flowing</p>
</div>

</div>
</div>