<div class="container" id="cards-section">
    <div class="row" >
<div class="card-deck">
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}shop.jpg" class="card-img-top" alt="shop">
    <div class="card-body">
      <h5 class="card-title">Shop</h5>
      <p class="card-text">Shop till you drop with 10% off orders over $70 and Free elivery when you spend $50</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}blog.jpg" class="card-img-top" alt="blog">
    <div class="card-body">
      <h5 class="card-title">Blog</h5>
      <p class="card-text">Grab some ideas from our Blog to put together the perfect gifts</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center shadow p-3 mb-5 bg-white rounded">
    <img src="{{ MEDIA_URL }}social_media.jpg" class="card-img-top" alt="social_media">
    <div class="card-body">
      <h5 class="card-title">Share</h5>
      <p class="card-text">Share your thoughts and ideas with others, we welcome feedback</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div>
    <h3>All the gifts, All the time</h3><br>
    <p>10% off when you spend $70, Free delivery over $50, and Our very own Blog to keep the git ideas flowing</p>
</div>

</div>
</div>