<div class="container-fluid" id="features-section-background">
    <div class="row" >
        <div class="col text-center span-features-container" data-aos="fade-up" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <span class="span-features uppercase px-5 py-3">Our&nbsp;Benifits</span>
        </div>
    </div>
    <div class="row mt-3 text-center features-section">
        <div class="col col-md-4">
    <!--Free Delivery-->
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2 px-lg-2" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <h4 class="main-heading text-black">
            Free Delivery
            </h4>
            <i class="fas fa-truck"></i>
            <p class="features-paragraph">
                Free delivery on all orders over $50
            </p>
        </div>
    <!--Online Self-Service-->
        <div class="col-sm-12 col-md-12 col-lg-12 mt-4 px-lg-2" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <h4  class="main-heading text-black">
               Online Self-Service
            </h4>
            <i class="fas fa-mouse-pointer"></i>
            <p class="features-paragraph">
               Stay in control of your order information with your own personal profile on <strong>Gift</strong>Her
            </p>
        </div>
</div>
<div class="col col-md-4">
     <!--center image-->
        <div class="col col-sm-10 col-md-12 col-lg-12 mt-3 px-lg-2" data-aos="fade-up" data-aos-duration="1800" data-aos-easing="ease-in-out">
    	   <img src="{{ MEDIA_URL }}Grandparents-gift.jpg" class="rounded" id="grandma-img" alt="gift to grandma">
        </div>
       </div>
       <div class="col col-md-4">
     <!--10% Off-->
        <div class="col col-sm-12 col-md-12 col-lg-12 mt-2 px-lg-2" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-out">
            <h4  class="main-heading text-black">
                10% Off
            </h4>
            <i class="fas fa-hand-holding-usd"></i>
            <p class="features-paragraph">
               When you spend $70 - This offer never ends!
            </p>
        </div>  
<!--Inspiration-->
        <div class="col col-sm-12 col-md-12 col-lg-12 mt-4 px-lg-2" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-out">
            <h4  class="main-heading text-black">
                Inspiration
            </h4>
            <i class="fas fa-lightbulb"></i>
            <p class="features-paragraph">
                Trouble thinking of the perfect gift?<br/>
                Browse our amazing gift ideas
            </p>
        </div>
        </div>
    </div>
</div>
