<div class="container" data-aos="fade-up" data-aos-duration="1100" id="features-section-background">
    <div class="row" >
        <div class="col text-center span-features-container">
            <span class="span-features uppercase px-5 py-3">Our&nbsp;Benifits</span>
        </div>
    </div>
    <div class="row mt-5 text-center features-section">
    <!--Your choice-->
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-right" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <h4 class="main-heading">
            Free Delivery
            </h4>
            <i class="fas fa-truck"></i>
            <p class="mt-4 mb-4 px-lg-5 features-paragraph">
                Free delivery on all orders over $50
            </p>
        </div>
    <!--Our tea experts-->
        <div class="col-sm-12 col-md-6 px-lg-3" data-aos="fade-up-left" data-aos-duration="1200" data-aos-easing="ease-in-out">
            <h4  class="main-heading">
               Online Self-Service
            </h4>
            <i class="fas fa-mouse-pointer"></i>
            <p class="mt-4 mb-4 px-lg-5 features-paragraph">
               Easily update your order
            </p>
        </div>
    <!--Best tea quality-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-right" data-aos-duration="1500" data-aos-easing="ease-in-out">
            <h4  class="main-heading">
                10% Off
            </h4>
            <i class="fas fa-hand-holding-usd"></i>
            <p class="mt-4 mb-4 px-lg-5 features-paragraph">
               Your 2 Favourite Brands - For Life
            </p>
        </div>
    <!--We are flexible-->
        <div class="col-sm-12 col-md-6 mt-lg-3 px-lg-3" data-aos="fade-up-left" data-aos-duration="1500" data-aos-easing="ease-in-out">
            <h4  class="main-heading">
                Inspiration
            </h4>
            <i class="fas fa-lightbulb"></i>
            <p class="mt-4 mb-4 px-lg-5 features-paragraph">
                Trouble thinking of the perfect gift?<br/>
                Browse our amazing gift ideas
            </p>
        </div>
    </div>
    <div class="row text-center mb-5">
        <div class="col-sm-12 col-md-6 offset-md-3 mt-lg-3 px-lg-3" data-aos="fade-up" data-aos-duration="1800" data-aos-easing="ease-in-out">
    	    <!--Solitude and relaxation-->
            <h4  class="main-heading">
                New Collections
            </h4>
            <i class="far fa-calendar-plus"></i>
            <p class="mt-4 mb-4 px-lg-5 features-paragraph">
               New stock is constantly being added to our site<br/>
               so that YOU get what you need 
            </p>
        </div>
    </div>
</div>
