<section class="background-hero">
    <div class="px-2">
        <h1 class="display-2 text-white uppercase mb-5">
        Gift&nbsp;Her
        </h1>
        <h5 class = "text-white mt-3 mb-5">
            The perfect gift for every woman
        </h5>
        <div class = "mt-5">
            <a  href="#" 
                class="shop-now-button btn btn-lg pt-3 mt-2 text-uppercase">
                Shop&nbsp;Now
            </a>
            <a href="#" 
               class="shop-now-button btn btn-lg pt-3 mt-2 text-uppercase">
               More&nbsp;about&nbsp;us
            </a>
        </div>
    </div>
</section>