<section class="hero-image">
    <div class="px-2">
        <h1 class="display-2 text-white uppercase mb-5">
        Gift&nbsp;Her
        </h1>
        <h5 class = "text-white mt-3 mb-5">
            The perfect gift for every woman
        </h5>
        <div class = "mt-5">
            <a  href="{% url 'services' %}" 
                class="btn rounded-0 pt-3  mr-lg-3 uppercase">
                Shop&nbsp;Now
            </a>
            <a href="{% url 'products' %}" 
               class="btn  rounded-0 pt-3 mt-2 uppercase">
               More&nbsp;about&nbsp;us
            </a>
        </div>
    </div>
</section>