<section class="row align-items-center background-hero">
    <div class="px-5" id="hero-footer-text">
        <h1 class="display-2 text-center uppercase mb-5" id="h1-hero-footer">
        <strong>Gift</strong>Her
        </h1>
        <h5 class ="text-center text-black mt-3 mb-5" id="h5-hero-footer">
            The perfect gift for every woman
        </h5>
        <div class = "mt-5">
            <a  href="{% url 'products' %}" 
                class="shop-now-button btn btn-lg rounded-0 py-3 mt-2 text-uppercase">
                Shop&nbsp;Now
            </a>
            <a href="{% url 'blog' %}" 
               class="shop-now-button btn btn-lg rounded-0 py-3 mt-2 text-uppercase">
               Discover&nbsp;Our&nbsp;Blog
            </a>
        </div>
    </div>
</section>